parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - src/Proto
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - phpstan-bootstrap.php
